@import url(https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:300);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Slackey&display=swap);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo {
    font-size: 25px;
    margin-left: 50px;
    font-family: "Racing Sans One", sans-serif;
}
#menu-icon{
    font-size: 35px;
    cursor: pointer;
    display: none;
}
.navlist {
    list-style: none;
    display: flex;
}
.navlist li {
    margin-right: 25px;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #0E2941 90%,
        #0E2941 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}
.navlist a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 300;
}
.navlist li:hover{
    background-size: 100% 100%;
    background-position: left;
}
.button {
  margin-right: 80px;
}
.button a .bx, .button .bx{
  color: #001120;
  font-size: 30px;
  padding-inline: 5px;
  margin: 0;
}
.button a .bx:hover{
  transform: scale(1.2);
  color: #0E2941;
}
.button .bx:hover{
  transform: scale(1.2);
  color: #0E2941;
  cursor: pointer;
}
@media only screen and (max-width:1200px){
    header{
        margin-top: 19px;
    }
    .logo {
        font-size: 24px;
        margin-left: 49px;
    }
    .navlist li {
        margin-right: 24px;
    }
    .navlist a {
        font-size: 16px;
    }
    .button {
        margin-right: 79px;
    }
    .button a .bx, .button .bx{
        font-size: 29px;
        padding-inline: 4px;
    }
}
@media only screen and (max-width:1024px){
    header{
        margin-top: 18px;
    }
    .logo {
        font-size: 22px;
        margin-left: 47px;
    }
    .navlist li {
        margin-right: 22px;
    }
    .navlist a {
        font-size: 14px;
    }
    .button {
        margin-right: 77px;
    }
    .button a .bx, .button .bx{
        font-size: 27px;
        padding-inline: 3px;
    }
}
@media only screen and (max-width:960px){
    header{
        margin-top: 16px;
    }
    .logo {
        font-size: 21px;
        margin-left: 46px;
    }
    nav ul li {
        margin-right: 21px;
    }
    nav a {
        font-size: 13px;
    }
    .button {
        margin-right: 76px;
    }
    .button a .bx, .button .bx{
        font-size: 26px;
    }
}
@media only screen and (max-width:768px){
    header{
        margin-top: 16px;
    }
    .logo {
        font-size: 19px;
        margin-left: 45px;
    }
    .navlist li {
        margin-right: 20px;
    }
    .navlist a {
        font-size: 12px;
    }
    .button {
        margin-right: 75px;
    }
    .button a .bx, .button .bx{
        font-size: 23px;
    }
}
@media only screen and (max-width:430px){
    header{
        margin-top: 15px;
    }
    #menu-icon{
        display: block;
    }
    .logo {
        font-size: 18px;
        margin-left: 20px;
    }
    .navlist{
        position: absolute;
        top: -400px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #001120;
        text-align: left;
        z-index: 1000;
    }
    .navlist li:hover{
        background-size: 0%;
    }
    .navlist a {
        font-size: 12px;
        color: white;
        padding: 1rem;
        border-left: 2px solid #fff;
        margin: 1rem;
        display: block;
    }
    .navlist a:hover{
        background-color: #fff;
        color: #001120;
    }
    .navlist.open{
        top: 10%;
    }
    .button {
        margin-right: 20px;
    }
    .button a .bx, .button .bx{
        font-size: 26px;
    }
}

/* Container Contact Us */
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: rgb(239, 239, 239);
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #001120;
    color: hsl(244, 100%, 94%);
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #acc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #001120;
}
button{
    background: #001120;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    cursor: pointer;
}
.contact-left h3{
    color: #001120;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 15px;
}
.contact-right h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}
.soc a{
    padding-right: 20px;
    color: #fff;
    transition: color 0.4s;
    font-size: 30px;
}
.soc a:hover{
    color: #0E2941;
}
