@import url(https://fonts.googleapis.com/css?family=Poppins:300);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Slackey&display=swap);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Header */
@media only screen and (max-width:1200px){
    .arrow-back a .bx{
        font-size: 39px;
        margin: 39px auto 39px 39px;
    }
    .products{
        column-gap: 95px;
        row-gap: 29px;
        margin-bottom: 29px;
    }
    .products .product {
        width: 290px;
        height: 280px;
        border-radius: 11px;
    }
    .products .product img{
        width: 270px;
        height: 150px;
        margin: 26px 9px 0 14px;
    }
    .products .product h3{
        font-size: 12px;
        margin: 14px 33px 0px 26px;
    }
    .products .product p{
        font-size: 10px;
        margin: 0 180px 0 26px;
    }
    .products .product a{
        width: 73px;
        height: 23px;
        border-radius: 4px;
        font-size: 7px;
    }
}
@media only screen and (max-width:1024px){
    .arrow-back a .bx{
        font-size: 37px;
        margin: 37px auto 37px 37px;
    }
    .products{
        column-gap: 60px;
        row-gap: 25px;
        margin-bottom: 25px;
    }
    .products .product {
        width: 270px;
        height: 250px;
        border-radius: 9px;
    }
    .products .product img{
        width: 250px;
        height: 130px;
        margin: 24px 7px 0 12px;
    }
    .products .product h3{
        font-size: 11px;
        margin: 12px 31px 0px 24px;
    }
    .products .product p{
        font-size: 10px;
        margin: 0 170px 0 24px;
    }
    .products .product a{
        width: 71px;
        height: 21px;
        border-radius: 3px;
        font-size: 6px;
    }
}
@media only screen and (max-width:960px){
    .arrow-back a .bx{
        font-size: 35px;
        margin: 35px auto 35px 35px;
    }
    .products{
        column-gap: 40px;
        row-gap: 23px;
        margin-bottom: 23px;
    }
    .products .product {
        width: 260px;
        height: 240px;
        border-radius: 8px;
    }
    .products .product img{
        width: 240px;
        height: 120px;
        margin: 22px 6px 0 10px;
    }
    .products .product h3{
        font-size: 11px;
        margin: 12px 31px 0px 24px;
    }
    .products .product p{
        font-size: 10px;
        margin: 0 170px 0 24px;
    }
    .products .product a{
        width: 71px;
        height: 21px;
        border-radius: 3px;
        font-size: 6px;
    }
}
@media only screen and (max-width:768px){
    .arrow-back a .bx{
        font-size: 33px;
        margin: 33px auto 33px 33px;
    }
    .products{
        column-gap: 35px;
        row-gap: 20px;
        margin-bottom: 23px;
        display: grid;
        grid-template-areas: "product product";
    }
}
@media only screen and (max-width:430px){
    .products{
        column-gap: 35px;
        row-gap: 20px;
        margin-bottom: 23px;
        display: grid;
        grid-template-areas: "product product";
    }
    .products .product {
        width: 160px;
        height: 150px;
        border-radius: 8px;
    }
    .products .product img{
        width: 140px;
        height: 70px;
        margin: 15px 3px 0 5px;
    }
    .products .product h3{
        font-size: 8px;
        margin: 5px 15px 0px 15px;
    }
    .products .product p{
        font-size: 6px;
        margin: 0 100px 0 15px;
    }
    .products .product a{
        width: 50px;
        height: 15px;
        border-radius: 3px;
        font-size: 6px;
        padding: 5px 8px;
        margin-left: 20px;
    }
}

/* Etalase */
.arrow-back a .bx{
    font-size: 40px;
    margin: 40px auto 40px 40px;
    color: #000;
}
.products{
    display: grid;
    grid-template-areas: "product product product";
    padding-bottom: 0px;
    justify-content: center;
    align-items: flex-start;
    column-gap: 98px;
    row-gap: 30px;
    margin-bottom: 30px;
}
.products .product {
    width: 300px;
    height: 290px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.10);
}
.products .product img{
    width: 280px;
    height: 160px;
    margin: 27px 10px 0 15px;
}
.products .product h3{
    font-size: 13px;
    margin: 15px 34px 0px 27px;
}
.products .product p{
    font-size: 12px;
    margin: 0 190px 0 27px;
}
.products .product a{
    width: 75px;
    height: 25px;
    border-radius: 5px;
    background: #000;
    color: #FFF;
    font-family: Poppins;
    font-size: 8px;
    padding: 7px 12px;
    margin-left: 30px;
    text-decoration: none;
    opacity: 0.85;
    transition: opacity ease 250ms;
}
.products .product a:hover{
    opacity: 1;
}
@media only screen and (max-width:1200px){
    .arrow-back a .bx{
        font-size: 39px;
        margin: 39px auto 39px 39px;
    }
    .products{
        column-gap: 95px;
        row-gap: 29px;
        margin-bottom: 29px;
    }
    .products .product {
        width: 290px;
        height: 280px;
        border-radius: 11px;
    }
    .products .product img{
        width: 270px;
        height: 150px;
        margin: 26px 9px 0 14px;
    }
    .products .product h3{
        font-size: 12px;
        margin: 14px 33px 0px 26px;
    }
    .products .product p{
        font-size: 10px;
        margin: 0 180px 0 26px;
    }
    .products .product a{
        width: 73px;
        height: 23px;
        border-radius: 4px;
        font-size: 7px;
    }
}
@media only screen and (max-width:1024px){
    .arrow-back a .bx{
        font-size: 37px;
        margin: 37px auto 37px 37px;
    }
    .products{
        column-gap: 60px;
        row-gap: 25px;
        margin-bottom: 25px;
    }
    .products .product {
        width: 270px;
        height: 250px;
        border-radius: 9px;
    }
    .products .product img{
        width: 250px;
        height: 130px;
        margin: 24px 7px 0 12px;
    }
    .products .product h3{
        font-size: 11px;
        margin: 12px 31px 0px 24px;
    }
    .products .product p{
        font-size: 10px;
        margin: 0 170px 0 24px;
    }
    .products .product a{
        width: 71px;
        height: 21px;
        border-radius: 3px;
        font-size: 6px;
    }
}
@media only screen and (max-width:960px){
    .arrow-back a .bx{
        font-size: 35px;
        margin: 35px auto 35px 35px;
    }
    .products{
        column-gap: 40px;
        row-gap: 23px;
        margin-bottom: 23px;
    }
    .products .product {
        width: 260px;
        height: 240px;
        border-radius: 8px;
    }
    .products .product img{
        width: 240px;
        height: 120px;
        margin: 22px 6px 0 10px;
    }
    .products .product h3{
        font-size: 11px;
        margin: 12px 31px 0px 24px;
    }
    .products .product p{
        font-size: 10px;
        margin: 0 170px 0 24px;
    }
    .products .product a{
        width: 71px;
        height: 21px;
        border-radius: 3px;
        font-size: 6px;
    }
}
@media only screen and (max-width:768px){
    .arrow-back a .bx{
        font-size: 33px;
        margin: 33px auto 33px 33px;
    }
    .products{
        column-gap: 35px;
        row-gap: 20px;
        margin-bottom: 23px;
        display: grid;
        grid-template-areas: "product product";
    }
}
@media only screen and (max-width:430px){
    .products{
        column-gap: 35px;
        row-gap: 20px;
        margin-bottom: 23px;
        display: grid;
        grid-template-areas: "product product";
    }
    .products .product {
        width: 160px;
        height: 150px;
        border-radius: 8px;
    }
    .products .product img{
        width: 140px;
        height: 70px;
        margin: 15px 3px 0 5px;
    }
    .products .product h3{
        font-size: 8px;
        margin: 5px 15px 0px 15px;
    }
    .products .product p{
        font-size: 6px;
        margin: 0 100px 0 15px;
    }
    .products .product a{
        width: 50px;
        height: 15px;
        border-radius: 3px;
        font-size: 6px;
        padding: 5px 8px;
        margin-left: 20px;
    }
}
