@import url(https://fonts.googleapis.com/css?family=Poppins:300);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Slackey&display=swap);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 50px;
    font-family: "Racing Sans One", sans-serif;
}
nav ul {
    list-style: none;
    margin-top:20px;
}
nav ul li {
    display: inline;
    margin-right: 25px;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #0E2941 90%,
        #0E2941 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}
nav a {
    text-decoration: none;
    font-size: 17px;
    color: black;
}
nav ul li:hover{
    background-size: 100% 100%;
    background-position: left;
}
.button {
    margin-top: 19px;
    margin-right: 80px;
}
.button a .bx, .button .bx{
    color: #001120;
    font-size: 30px;
    padding-inline: 5px;
    margin: 0;
}
.button a .bx:hover{
    transform: scale(1.2);
    color: #0E2941;
}
.button .bx:hover{
    transform: scale(1.2);
    color: #0E2941;
    cursor: pointer;
}
@media only screen and (max-width:480px){
    
}

/* Home Section*/  
.home {
    width: 100%;
    height: 709px;
    background: url('../Img/bg-landingpage.png');
    background-size: cover;
}
.home-text {
    padding-top: 195px;
    padding-left: 136px;
    padding-bottom: 200px
}
.home h5 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
    margin: 0;
}
.home h1 {
    width: 514px;
    color: #0E2941;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.home p {
    font: size 16px;
    font-weight: 400;
    margin-bottom: 44px;
}
.home a {
    border-radius: 20px;
    background: #D9E8FF;
    width: 120px;
    height: 40px;
    padding: 8px 11px;
    color: black;
    text-decoration: none;
}
.home a:hover{
    background-color: #001120; 
    color: white;
}

/* Main Section */
.webplus{
    display: flex;
    gap: 60px;
    padding: 30px;
    margin: 0 120px 0 120px;
    background-color: #d9e8ff50;
    border-radius: 20px;
}
.plus{
    display:flex;
    align-items: center;
}
.plus .bx{
    color:#0E2941;
    padding-right: 10px;
    font-size: 50px;
}
.plus h5{
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.plus h6{
    font-size: 12px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

/* Featured Products */
.featured-container{
    margin: 70px auto 70px auto;
}
.featured-headline{
    text-align: center;
    position: relative;
    padding: 10px;
}
.featured-headline::after{
    content: '';
    background-color: #294761;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.featured-row{
    display: grid;
    grid-template-areas: "featured-col featured-col featured-col";
    justify-content: center;
    margin-top: 50px;
}
.col-top{
    display: flex;
    margin-right: 30px;
}
.col-top img{
    width: 280px;
}
.col-top .bx{
    font-size: 30px;
    color: grey;
    margin-left: -50px;
}
.col-top .bx:hover{
    color: rgb(104, 1, 1);
    transform: scale(1.1);
}
.featured-col h4{
    width: 250px;
    text-align: center;
    font-size: 13px;
    padding-left: 25px;
}

/* Review Section */
.review-headline{
    display: flex;
    margin: 30px auto 5px auto;
    align-items: center;
    justify-content: center;
}
.review-headline .bx{
    color: rgba(0, 0, 0, 0.205);
    font-size: 60px;
    margin-right: -20px;
}
.review-headline h2{
    font-size: 30px;
}
.review-headline .hl-2{
    color: #294761;
    font-style: italic;
    font-size: 30px;
}
.review-content{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 60px;
}
.review-content .box{
    background-color: #001120;
    border-radius: 20px;
}
.review-content .box p{
    width: 250px;
    text-align:center;
    font-size: 10px;
    padding: 15px 20px 0px 20px;
    color: #D9E8FF;
}
.in-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 15px 0px;
}
.in-box .bx-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.in-box .bxx-text{
    margin-left: 10px;
}
.in-box .bxx-text h4{
    margin: 0;
    font-size: 12px;
    color: white;
    letter-spacing: 1.5px;
}
.in-box .bxx-text h5{
    margin: 0;  
    font-size: 8px;
    color: grey;
    font-weight: lighter;
}
.in-box .bxx-text .ratings{
    margin: 0;   
    font-size: 12px;
    color: rgb(208, 151, 46);
}
.review-content .middle-box p{
    width: 320px;
    text-align:center;
    font-size: 14px;
    padding: 15px 20px 0px 20px;
    color: #D9E8FF;
}
.middle-box .in-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 15px 0px;
}
.middle-box .in-box .bx-img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
.middle-box .in-box .bxx-text{
    margin-left: 10px;
}
.middle-box .in-box .bxx-text h4{
    margin: 0;
    font-size: 16px;
    color: white;
    letter-spacing: 1.5px;
}
.middle-box .in-box .bxx-text h5{
    margin: 0;  
    font-size: 12px;
    color: grey;
    font-weight: lighter;
}
.middle-box .in-box .bxx-text .ratings{
    margin: 0;   
    font-size: 16px;
    color: rgb(208, 151, 46);
}

.brands-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 50px;
}
.brand-img{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.brand-img img{
    max-width: 80px;
}

/* Footer */
.footer-top{
    background-color: #001120f0;
}
.top{
    text-align: center;
    padding-top: 10px;
}
.top h1{
    font-family: 'racing sans one';
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: rgb(207, 207, 207);
}
.top h6{
    margin: 0;
    padding: 0;
    font-size: 8px;
    letter-spacing: 2px;
    color: rgb(207, 207, 207);
}
.bottom{
    text-align: center;
    padding-top: 10px;
}
.bottom h6{
    color: grey;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.bottom .soc a{
    padding-right: 5px;
    color: black;
    transition: color 0.4s;
}
.bottom .soc a:hover{
    color: #D9E8FF;
}
footer p{
    text-align: center;
    font-size: 12px;
    padding: 3px;
    margin: 0;
    font-weight: 600;
    background-color: #00112054;
}
