@import url(https://fonts.googleapis.com/css?family=Poppins:300);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Slackey&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  /* Header */
header{
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 50px;
    font-family: "Racing Sans One", sans-serif;
}
nav ul {
    list-style: none;
    margin-top:20px;
}
nav ul li {
    display: inline;
    margin-right: 25px;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #0E2941 90%,
        #0E2941 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}
nav a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 300;
}
nav ul li:hover{
    background-size: 100% 100%;
    background-position: left;
}
.button {
  margin-top: 19px;
  margin-right: 80px;
}
.button a .bx, .button .bx{
  color: #001120;
  font-size: 30px;
  padding-inline: 5px;
  margin: 0;
}
.button a .bx:hover{
  transform: scale(1.2);
  color: #0E2941;
}
.button .bx:hover{
  transform: scale(1.2);
  color: #0E2941;
  cursor: pointer;
}

/* Product Detail */
.arrow-back a .bx{
    font-size: 40px;
    margin: 40px 0 0 40px;
    color: #000;
}
.small-container{
    margin-top: 0;
    display: flex;
}
.card{
    display: flex;
}
.product-imgs{
    margin: 0 60px auto;
}
img{
    width: 120px;
    height: auto;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
    gap: 10px;
}
.img-item{
    margin: 0;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.small-container .col-2{
    margin-top: 100px;
}
.small-container h6{
    color: #8A8888;
    font-size: 16px;
    margin: 0;
    font-weight: lighter;
}
.small-container h1{
    width: 440px;
    margin: 10 0 0 0;
}
.small-container h4{
    font-size: 22px;
    font-weight: bold;
    color: #484848;
    font-family: Poppins;
    margin: 10 0 0 0;
}
.small-container select{
    display: block;
    padding: 10px;
    border: 1px solid #D9E8FF;
    margin: 10 0 0 0;
    font-family: Poppins;
}
.small-container input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #D9E8FF;
    font-family: Poppins;
}
.small-container input:focus{
    outline: none;
}
.small-container .btn{
    text-decoration: none;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background: #D9E8FF;
    padding: 8px 17px;
    font-size: 16px;
    color: black;
}
.small-container .btn:hover{
    border: 1px solid #D9E8FF;
    background: white;
    color: black;
}
.small-container h3{
    font-size: 16px;
    margin: 20px auto 10px auto;
    align-items: center;
}
.small-container p{
    width: 440px;
    text-align: justify;
    font-size: 13px;
    margin: 0;
}
.small-container .bx{
    color: #a9c6f2;
    margin-left: 10px;
    font-size: 18px;
}